$serif-font-2: 'Roboto Slab', serif;
$serif-font: 'century_bold';
$cursive-font: 'Indie Flower', cursive;
$serif-header: 'Playfair Display SC', serif;
$color-dark-black: #3c3a45;
$color-white-white: #ffffff;
$color-dark-blue: #25549B;
$color-dark-green: #0c3035;
$mq-medium: 600px;
$max-width: 600px;
$base-font-size: 18px;
