header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url("../img/bottle-clear.jpg") center no-repeat;
  background-size: cover;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.header__content {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;

    &--header {
      padding: rem(20);
      background-color: $color-white-white;
      border: 2px solid #222;
      display: inline-block;
      margin-bottom: rem(20);
    }

    &--logo {
      height: rem(200);
    }
}

.header__content:hover {
  background-size: 100px;
}
